.mainContainer {
    margin: auto;
    width: 90%;
}

.div-formGroup {
    margin: 0% 10%;
    width: auto;
}

label {
    font-weight: bold;
    display: block;
    width: 180px;
}

input {
    width: 490px;
    height: 30px;
}

ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

li {
    font-weight: bold;
}

.text {
    display: inline;
    font-weight: 400;
}

.popup {
    position: absolute;
    top: 20px;
    background-color: rgb(125, 168, 231);
    border: 3px solid rgb(84, 135, 211);
    width: 80%;
    height: 50px;
    border-radius: 10px;
}

.notice {
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.order-submit {
    position: absolute;
    right: 50%;
    display: block;
    margin-top: 5px;
}

h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.beer-info {
    margin: auto;
    width: 90%;
}

.text-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.formSec {
    margin: auto;
    width: 500px;
}

@media screen and (max-width: 1080px) {
    .formSec {
        width: 600px;
        margin: auto;
    }
    input {
        width: 60%;
    }
}