<div class="main-container">
    <div class="beer-info">
        <ul *ngFor="let br of singleBeer">
            <li>Name: {{br.name}}</li>
            <li>Tag: {{br.tag}}</li>
            <li>Description: {{br.description}}</li>
            <img src="{{br.image_url}}" height=280 width=200 />
        </ul>
    </div>
    <div>
        <form class="formGroup" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
            <label for="name">Name:</label>
            <input class="form-control" id="name" type="text" formControlName="name" required />
            <label for="quantity">Quantity:</label>
            <input class="form-control" id="quantity" type="number" formControlName="quantity" />
            <form formGroupName="addressForm">
                <label for="city">City:</label>
                <input class="form-control" id="city" type="text" formControlName="city" />
                <label for="street">Street:</label>
                <input class="form-control" id="street" type="text" formControlName="street" />
                <label for="block">Block:</label>
                <input class="form-control" id="block" type="text" formControlName="block" />
            </form>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
